/* Header.css */
.bg-info {
  background-color: #17a2b8 !important;
}

.text-dark {
  color: #343a40 !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.display-flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.text-light {
  color: #f8f9fa !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-space-between-lg {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.m-0 {
  margin: 0 !important;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn-lg {
  font-size: 1.25rem;
  padding: 10px 20px;
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.m-2 {
  margin: 0.5rem !important;
}


.header-container {
  position: relative;
  width: 100%;
  background-color: #17a2b8; /* Bootstrap bg-info color */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem; 
  border: 2px solid blue; 
  border-radius: 15px; 
  background-color: white; 
  color: blue; 
  font-size: 0.875rem; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-logout:hover {
  background-color: blue; 
  color: white; 
}