/* UserList style.css */
.container {
    padding: 20px;
  }
  

  .user-card {
    border-radius: 15px;
    background-color: #f8f9fa;
    margin-bottom: 1.5rem;
  }
  
  .user-card-body {
    padding: 1.5rem;
    color: #343a40;
  }
  
  .user-card-image {
    width: 70px;
    height:100px;
    border-radius: 50%;
    border: 3px solid #6c757d;
  }
  
  .user-card-text {
    margin-bottom: 0.5rem;
    color: #6c757d;
  }
  
  .user-card-buttons {
    display: flex;
    gap: 0.5rem;
  }